@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.type {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 166px;
  margin: 0 auto;
  display: flex;
}

.icon {
  margin-bottom: 20px;
}
