@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.wrapper {
  grid-template-columns: 1fr 3fr;
  padding-bottom: 40px;
  padding-top: 40px;
  display: grid;
}

.toysBlock {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  display: grid;
}

.countBlock{
  font-size: $fs-H2-mobile + px;
  font-weight: 600;
  padding: 10px;
}




.sideBar{
  max-width: 262px;
  width: 100%;
}

