@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.connectBlock {
  justify-content: space-between;
  align-items: center;
  max-width: 326px;
  display: flex;
  width: 100%;
}




