@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.preCartWindow {
  background-color: $c-white;
  border: 1px solid $c-pink;
  transition: $t-normal;
  pointer-events: none;
  position: absolute;
  width: 270px;
  left: -226px;
  opacity: 0;
  top: 40px;
}

.activePreCartWindow {
  opacity: 1;
  pointer-events: all;
}

.title {
  border-bottom: 1px solid $c-pink;
  font-size: $fs-H3-mobile + px;
  text-align: center;
  font-weight: 600;
  color: $c-black;
  padding: 5px;
}

.preCartItem {
  padding: 0 5px 5px 5px;
  align-items: center;
  position: relative;
  display: flex;
  &:not(:last-child) {
    border-bottom: 1px solid $c-Blue-2-light;
    margin-bottom: 10px;
  }
}

.preCartImg {
  margin-right: 5px;
  max-height: 50px;
  max-width: 50px;
}

.name {
  font-size: $fs-H4-mobile + px;
  max-width: 180px;
  color: $c-black;
  height: 40px;
  overflow: hidden;
}

.preCartFooter {
  padding: 0 10px 10px 10px;
  @include flexCenter;
}

.preCartBtn {
  background-color: $c-blue;
  @include flexCenter;
  border-radius: 15px;
  padding: 0 30px;
  color: $c-white;
  outline: none;
  border: none;
  height: 30px;
}

.cancelBtn {
  @include flexCenter;
  background-color: transparent;
  border: 1px solid transparent;
  transition: $t-normal;
  position: absolute;
  color: $c-Red;
  padding: 3px;
  right: 5px;
  top: 10px;

  &:hover {
    border: 1px solid $c-Red;
  }
}
