@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.logBlock {
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
  display: flex;
}

.personImg {
  @include flexCenter;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  height: 40px;
  width: 40px;
}
.userInfo {
  display: flex;
  flex-direction: column;
}

.personName {
  font-size: $fs-H3-mobile + px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 86px;
  overflow: hidden;
}

.personIcon {
  @include flexCenter;
  margin-right: 10px;
  color: $c-Gray-3;
  font-size: 34px;
}

.log {
  flex-direction: column;
  display: flex;
}

.logBtn {
  font-size: $fs-H4-mobile + px;
  width: fit-content;
  display: flex;
}

.loginBtn {
  margin-bottom: 3px;
  color: $c-Gray-3;
}

.registrationBtn {
  font-weight: 600;
  color: $c-black;
}

.choiceBlock {
  @include flexCenter;
  margin-left: 20px;
}

.choiseItem {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
