@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';
.label {
  flex-direction: column;
  margin-bottom: 25px;
  position: relative;
  display: flex;
}

.labelTitle {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
  color: $c-blue;
}

.input {
  border: 1px solid rgba($c-white, 0.1);
  padding: 10px 20px 10px 10px;
  background-color: $c-white;
  border: 2px solid $c-blue;
  transition: $t-normal;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  height: 35px;
  &:hover {
    box-shadow: 0px 4px 10px 0px rgba($c-dark, 0.5);
  }
  &:focus {
    box-shadow: 0px 4px 10px 0px rgba($c-dark, 0.5);
  }
}

.errorMessage {
  position: absolute;
  color: #d82a2a;
  font-size: 18px;
  bottom: -22px;
  right: 10px;
}

.switchIcon {
  font-size: $fs-H3-Desktop + px;
  @include flexCenter;
  position: absolute;
  color: $c-black;
  bottom: 8px;
  right: 12px;
}

.activeIcon{
  color: $c-pink;
}
