body {
  color: $c-Text;
  font-family: $f-NotoSans;
  font-size: $fs-Text-mobile + px;
  transition: $t-normal;
}


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
  &:not(.has-stroke) {
    stroke-width: 0;
  }
}

// Selection
*::selection {
  background-color: rgba($c-blue, 0.3);
}
// Custom Scroll
*::-webkit-scrollbar {
  border-radius: 10px;
  position: relative;
  z-index: 999;
  width: 6px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba($c-blue, 0.8);
  background-color: rgba($c-blue, 0.3);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba($c-blue, 0.8);
  background-color: $c-blue;
  border-radius: 10px;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}
p{
  margin: 0;
  padding: 0;
}

ul.navigatin__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  
  width: 100%;
  
}




.track{
  height: 5px;
  background-color: red;
  top: 10px;
}

.thumb{
  padding: 5px;
  border: 1px solid black;
}

// ! Media example
// @include media('<=tablet') {
//   width: 300px;
// }
// ! Boostrap
// @include media-breakpoint-down(sm) {
//   width: 300px;
// }
