@import '../../styles/variables';
@import '../../styles/media';
@import '../../styles/mixins';

.select {
  transition: $t-normal;
  border: 1px solid $c-Gray-2-medium;
  position: relative;
  max-width: 220px;
  outline: none;
  height: 30px;
  width: 100%;
}

.value {
  font-size: $fs-H3-Desktop + px;
  background: $c-white;
  position: relative;
  padding-left: 10px;
  cursor: pointer;
  display: block;
}

.icon {
  @include flexCenter;
  font-size: $fs-H3-Desktop + px;
  transform: rotate(180deg);
  position: absolute;
  right: 6px;
  top: 4px;
}

.CloseOptions {
  transition: $t-normal;

  opacity: 0;
  pointer-events: none;
}
.options {
  transition: $t-normal;
  background-color: $c-Gray-1-light;
  border: 1px solid $c-Gray-2-medium;
  position: absolute;
  opacity: 1;
  z-index: 5;
  width: 100%;
  top: 28px;
  left: 0;
}

.option {
  font-size: $fs-H3-Desktop + px;
  transition: $t-normal;
  padding-left: 10px;
  
  &:not(:last-child) {
    border-bottom: 1px solid $c-Gray-2-medium;
  }

  &:hover {
    background-color: $c-blue;
    color: $c-white;
  }
}
